<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emdoor.Barcode.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Emdoor.Barcode.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="lable_width" value="10" />
    <add key="lable_height" value="10" />
    <add key="print_speed" value="4" />
    <add key="print_density" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Emdoor.Barcode.Settings>
      <setting name="Printer" serializeAs="String">
        <value>TSC TTP-344M Plus</value>
      </setting>
      <setting name="PrintSpeed" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Vertical" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Offset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sensor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="B_Type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="B_Readable" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="B_Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="B_Narrow" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="B_Wide" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="T_F" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="T_S" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="T_R" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="T_L" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LabelHeight" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="LabelWidth" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="PrintDensity" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="B_Height" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="T_X" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="T_Y" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="T_H" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="Gap1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Gap2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LabelGap" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="LabelColumn" serializeAs="String">
        <value>3</value>
      </setting>
    </Emdoor.Barcode.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>